.home {
    --bd-blue: #0376bd;
    --bd-navy: #00243b;
    --bd-accent: #acd0ce;
    --bd-navy-rgb: 0,36,59;
    --bd-accent-rgb: 67,82,81;
    --bd-blue-rgb: 3,118,189;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-navy-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-blue-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-blue);
        --bs-btn-border-color: var(--bd-blue);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #00243b;
        --bs-btn-hover-border-color: #000000;
        --bs-btn-focus-shadow-rgb: var(--bd-navy-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #0376bd;
        --bs-btn-active-border-color: #034d7a;
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-navy-rgb: 0,36,59;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-navy-rgb), 1), rgba(var(--bd-navy-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-navy {
    color: #00243b;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
